.container {
    display: flex;
    justify-content: space-between;

    .leftBox {
        width: 100%;
        .h3 {
            color: black;
            font-size: 30px;
        }
        .leftBoxIMG{
            width: 70%;
            text-align: center;
        }
    }
    
    .rightBox {
        width: 50%;
        height: auto;
        background-color: #056564;
        border-radius: 20px;
        padding: 25px;
        color: white;
        text-align: center;


        .rightBoxInner {

            .rightBoxTitle {
                font-size: 20px;
                padding: 10px;
            }
           .rightBoxText {
               line-height: 200%;
           }
        }    

        
        .image {
           // height: ;
            
        }
    }
}




@media only screen and (max-width: 600px) {
    .container {
        flex-direction: column;
        align-items: center;
        .leftBox {
            width: 100%;
            margin-bottom: 20px;
            .leftBoxIMG {
                width: 100%;
            }
        
        }
        .rightBox {
            width: 80%;
            text-align: center;
            
        }
    }
   
  }