.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.input {
    border-radius: 20px;
    width: 15rem;
    height: 35px;
    border: none;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    outline: none;
}
.icon {
    font-size: 3rem;
}

.img {
    width: 50px;
}
.icons {
    display: flex;

}

@media only screen and (max-width: 600px) {
    .icon {
        font-size: 2rem;
    }
    .img {
        width: 30px;
    }
  }