.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    .inputBox {
        border-radius: 20px;
        width: 15rem;
        height: 50px;
        border: none;
        box-shadow: 4px 4px 8px 0px rgba(12, 133, 226, 0.2);
        background-color: white;
        display: flex;
        align-items: center;
        .inputIcon{
            margin-left: 20px;
            padding-top: 5px;
            font-size: 20px;

        }
        .input {
            height: 35px;
            border: none;
            margin-left: 10px;
            outline: none;
            color:rgb(0, 145, 133);

           
        }
    }

}



.icons {
    display: flex;
    .icon {
        font-size: 3rem;
        color: rgb(0, 145, 133);
    }
    .img {
        width: 50px;
    }
    

}

@media only screen and (max-width: 600px) {
    .icon {
        font-size: 2rem;
    }
    .img {
        width: 30px;
    }
  }