
h3{
    color: grey;
}
h2 {
    font-size: 35px;
}

.blocks {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    .blockLeft{
        width: 50%;
    }
    .blockRight{
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .blockRightBox {
            border-radius: 20px;
            background-color: #c6e464;
            height: 100%;
            display: flex;
            justify-content: space-around;
            padding: 10px;
            margin-bottom: 20px;
            .blockRightImg{
                width: 50px;
                height: 50px;;
            }
            .blockRightImg2{
                width: 50px;
                height: 50px;;
            }
            .white{
                background-color: white;
            }
            .title {
                font-size: 15px;
            }
            .text {
                font-size: 25px;
                font-weight: 700 ;
            }
            .middleBox {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }

        }
    }
}



@media only screen and (max-width: 600px) {
    .blocks {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 100%;
     
    }
    .blockLeft{
        min-width: 100%;
        margin-bottom: 20px;       
    
    }
    .blockRight{
        min-width: 100%;
        .blockRightBox {
            margin-bottom: 20px;
        }
    }
  }